# Node Modules
node_modules/

# Typescript Compiled Javascript
build/

# Sensitive Data
/App/Model/DestinationEmail.ts 
/App/Model/FilePath.ts 
/App/Model/MailiantorApiKey.ts 
/App/Model/NodeMailerSenderAccount.ts 